@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

p {
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    height: 250px;
    vertical-align: 50%;
    text-rendering: geometricPrecision;
}

#mainTitle {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #74f6a7;
}

.imagenes1 {
    height: 250px;
    margin: 20px 25px 25px 40px;
    float: left;
}

.imagenes2 {
    height: 250px;
    margin: 20px 25px 25px 40px;
    float: right;
}

footer {
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
  }