<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Stardew Valley Tribute Page</title>
<style>
html, body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #236969;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
</head>
<body style="background-color:#489cc1">
<img src="assets/stvwp6.png" alt="Título" width="100%">

<ul>
  <li><a href="#home">Stardew Valley</a></li>
  <li><a href="#news">Historia</a></li>
  <li><a href="#contact">Recepción</a></li>
  <li><a href="#about">ConcernedApe: The Developer</a></li>
  <li><a href="#home"><img src="assets/twitter-icon-white-short.jpg" alt="Título" height="14"></a></li>
</ul>

<h1 id="mainTitle">Stardew Valley Tribute Page</h1>
<div>
<img class="imagenes" src="assets/granja.jpg" alt="Granja">
<p>¡Stardew Valley es un RPG de vida en el campo! Hereda la vieja granja de tu abuelo en Stardew Valley. Armado con herramientas de segunda mano y algo de dinero, te dispones a empezar tu nueva vida. ¿Podrás aprender a vivir de la tierra y a convertir esos campos de malezas en un hogar próspero? No va a ser fácil. Desde que Joja Corporation llegó a la ciudad, las antiguas formas de vivir han desaparecido. El centro comunitario, en su momento el centro de actividad más activo de la ciudad, se encuentra ahora en ruinas. Pero el valle se encuentra lleno de oportunidades. ¡Con un poco de dedicación, podrás ser uno de los que devuelva Stardew Valley a la gloria!</p>
</div>
<hr>
<footer>
  Gil Eduardo López Mejía • 20191598 • <a href="https://github.com/Gelm20" style="color: gray;">https://github.com/Gelm20</a>
</footer>
</body>
</html>